<?xml version="1.0"?>
<phpunit
	bootstrap="tests/bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	>
	<testsuites>
		<testsuite name="Base">
			<directory prefix="test-" suffix=".php">./tests/</directory>
		</testsuite>
		<testsuite name="Admin">
			<directory prefix="test-" suffix=".php">./tests/admin/</directory>
		</testsuite>
	</testsuites>
</phpunit>
